{% extends 'base.html.twig' %}

{% block title %}Documents | Stark Industries{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/contratlisting_style.css") }}">
{% endblock %}
{% block body %}
    <div class="bg-gray-100 p-6 relative md:ml-64 min-h-screen overflow-x-hidden">
        <h1 class="order-1 text-gray-900 text-3xl font-extrabold tracking-tight">Mes documents</h1>
            {% if documents is not empty %}
                <div id="documents-list" class="grid grid-cols-1 gap-6 mt-12">
                    <ul class="list w-full flex flex-wrap justify-around m-6">
                        {% for document in documents %}
                            <li>
                                <div class="document flex flex-col justify-center items-center bg-grey bg-white py-6 px-16 rounded-xl w-72 shadow-lg">
                                    <p class="text-xl font-semibold mb-5 text-center">
                                        {{ document.getName() }}
                                    </p>
                                    <i class="fas fa-file-alt fa-10x text-yellow-500"></i>
                                    <a href="{{ asset('assets/documents/'~ document.getPath()) }}" target="_blank" class="w-full text-center mt-6 detail_button py-2 px-10 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                                        Ouvrir
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="pagination w-full flex flex-wrap justify-center items-center"></ul>
                </div>
            {% else %}
                <div class="justify-center flex-col items-center flex mt-80">
                    <i class="fas fa-file-signature fa-7x mb-4 text-yellow-500"></i>
                    <h2 class="text-center text-gray-900 font-bold text-2xl">Aucun document disponible</h2>
                </div>
            {% endif %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script>
        var options = {
            valueNames:[
              'document'
            ],
            page: 15,
            pagination: true
        };
        var contratsList = new List('documents-list', options);
        pagination()
       function pagination(){
           let linkPage = document.querySelectorAll('.page')
           linkPage.forEach((page)=>{
               page.setAttribute('class', 'page py-2 px-4 mx-2 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500')
           })

           let linkPageActive = document.querySelectorAll('.active.page')
           linkPageActive.forEach((pageActive)=>{
               pageActive.setAttribute('class', 'active.page bg-yellow-500')
           })
       }
    </script>
{% endblock %}
