{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="w-screen h-screen flex flex-col justify-center items-center">
        <div class="max-w-3xl space-y-6 text-center">
            <img class="h-auto w-56 m-auto" src="{{ asset('assets/images/logo_stark.png') }}" alt="">
            <h1 class="font-medium text-2xl">
                Un email vient d'être envoyé contenant un lien qui va vous permettre de réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </h1>
            <p>
                Si vous n'avez reçu aucun mail, pensez à verifier vos spams ou alors <a href="{{ path('app_forgot_password_request') }}">cliquez ici pour essayer encore</a>.
            </p>
            <div>
                <a class="text-purple-600 hover:text-purple-500" href="{{ path('app_login') }}"><i class="fa fa-arrow-left"></i> Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
