<h1>Bienvenue {{ name }} !</h1>

<p>Maintenant que votre compte est créé, cliquez sur le lien ci-dessous afin de créer votre mot de passe</p>
<p>Votre identifiant : {{ mail }}</p>

<a href="{{ url('app_forgot_password_request') }}">Cliquez ici pour créer votre mot de passe</a>

<p>Cheers !</p>
