/*
header{
    background-color: #262626;
    height: 100vh;
    flex-basis: 10vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

header > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header > div i{
    color: white;
    margin-bottom: 2rem;
}
header #logout i{
    color: red;
}

header #logout{
    justify-self: flex-end;
}*/
