@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
#main{
    display: flex;
    flex-direction: row;
}*/
@media (max-width: 768px) {
    .menu_closed{
        transition-duration: 0.3s;
        transform: translate3d(0,-100%,0);
    }
    .menu_opened{
        transition-duration: 0.3s;
        transform: translate3d(0,0,0);
    }
}