<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("build/sidebar.css") }}">
        <link rel="stylesheet" href="{{ asset("build/style.css") }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="font-sans">
    <style>

    </style>
        <div id="main" class="">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ include('header.html.twig') }}
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
