<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("assets/css/header.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="main">
            {{ include('header.html.twig') }}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
