{% if path(app.request.attributes.get('_route')) is not same as("/login") %}
<header>
    <div>
        <a href="{{ path('home') }}">
            <i class="fas fa-home fa-4x"></i>
        </a>
        <a href="{{ path('new-contract') }}">
            <i class="fas fa-edit fa-4x"></i>
        </a>
    </div>
    <a id="logout" href="{{ path('app_logout') }}">
        <i class="fas fa-power-off fa-4x"></i>
    </a>
</header>
{% endif %}