{% extends 'base.html.twig' %}

{% block title %}Hello DistributorController!{% endblock %}

{% block body %}
<div class="bg-gray-100 p-6 relative md:ml-64 min-h-screen overflow-x-hidden">
    <h1 class="text-5xl">
        Salut salut, je ne sais pas qui vous a dit qu'il y avait quelque chose à voir ici mais malheureusement il n'y a rien pour l'instant
    </h1>
    <h2 class="text-3xl">Mais vous pouvez toujours revenir plus tard ;)</h2>
</div>
{% endblock %}
